var error = <%= @reptile.errors.count %>
if(error){
	<% @reptile.errors.full_messages.each do |message| %>
        
	$("#messages").append("<%= message %>");
      <% end %>

}
else{
	$("#messages").html("<h1>Cadastrado</h1>");
}