var error = <%= @reptile.errors.count %>;

if(error>0){
	let html = "";
	html += "<div class='alert alert-danger'>";
	html += "<strong><%= t 'warning' %></strong>";
	html += "<ul>";

	<% @reptile.errors.full_messages.each do |message| %>
		html += "<li><%= message %></li>";
      <% end %>

	html += "</ul>";
	html += "</div>";

      $("#messages").append(html);  

}
else{
	let html = "";
	html += "<div class='alert alert-success'>";
	html += "<strong><%= t 'success', model: Reptile %></strong>";
	html += "</div>";
	
	$("#messages").append(html);  
	$( 'form' ).each(function(){
	    this.reset();
	});

}

setTimeout(function(){
	$("#messages div").fadeOut('slow', function(){
		$('#messages div').remove();
	});
 
}, 4000);